In [2]:
import numpy as np, pandas as pd

In [13]:
z_values = np.random.randn(4,2)

In [18]:
# setting up row and column names
df = pd.DataFrame(z_values, index = ['a','b','c','d'], columns=['A','B'])

In [19]:
df

          A         B
a -1.765911  0.700125
b -0.122625  1.024866
c  1.511599 -0.585543
d  0.225263  1.928530

In [21]:
# to select a row
df.loc['a',:]

A   -1.765911
B    0.700125
Name: a, dtype: float64

In [22]:
# to select multiple rows
df.loc[['a','b']]

          A         B
a -1.765911  0.700125
b -0.122625  1.024866

In [25]:
# to select rows from/to
df['a':'c']

          A         B
a -1.765911  0.700125
b -0.122625  1.024866
c  1.511599 -0.585543